# Python
__pycache__/
*.pyc

# Virtual env
.venv/

# Data & corpora
corpora/
#human/

# Experiment outputs
runs/
logs/

# Model / HF cache
.hf_cache/
.cache/

# OS
.DS_Store

run.sh
slurm-*.out
.gitattributes

synthetic/